* {
  box-sizing: border-box;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem ;
  background-color: #20232a;
  color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.logo a {
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
}

.header nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.header nav ul li {
  margin-left: 1.5rem;
}

.header nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
}

.header nav ul li a:hover {
  color: #61dafb;
}
